.nav-theme {
  background-color: #101018f8;
  font-size: 14px;
}
.bar {
  justify-content: space-around !important;
}

.animate-navbar {
  box-shadow: 1px 1px 1px #222;
  animation: moveDown 0.5s ease-in-out;
}
.name {
  color: white;
  font-size: 15px;
}

@keyframes moveDown {
  from {
    transform: translateY(-5rem);
  }
  to {
    transform: translateY(0rem);
  }
}
