* {
  font-family: 'Karla', sans-serif;
}

.focus {
  transition: transform 0.3s;
}

.focus:hover {
  transform: scale(1.05);
}

.card-title {
  font-size: 1.8em;
  font-weight: 550;
}

.card-deck {
  margin-left: 5.2%;
}

.image-style {
  width: 3em;
}

.font-details {
  font-size: 3em;
  font-weight: 500;
  color: #231d5af8;
}

.font-details-b {
  font-size: 2.5rem;
  font-weight: 800;
  text-align: center;
  font-family: 'Karla', sans-serif;
}
